<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginwithgoogle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Menu.AlQuran.DetailSurah"></activity>
        <activity android:name=".Menu.news.coronainfo.Corona_Info" />
        <activity android:name=".Menu.Doas.DoaAct" />
        <activity android:name=".Menu.news.Detail_News" />
        <activity android:name=".Menu.adzan.AdzanAct" />
        <activity android:name=".Menu.CariMesjid.CariMesjid" />
        <activity android:name=".Menu.news.NewsAct" />
        <activity android:name=".Menu.AlQuran.AlQuran" />
        <activity
            android:name=".Menu.kiblat.KiblatAct"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Home.DashboardAct" />
        <activity android:name=".Splash.RegistAct" />
        <activity android:name=".Splash.LoginAct" />
        <activity android:name=".Splash.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>